*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.pdf
*.idx
*.ist
*.glo
*.gls
*.lof
*.lot
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
deep_think.pdf
fix_boxes*.py
fix_helpers.py
